PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost/not_myself_cleaning_dev
TEST_DATABASE_URL=postgres://postgres:postgres@localhost/not_myself_cleaning_test
SECRET_KEY_BASE=change_me_to_a_64_byte_secret_before_deploying_this_app
SESSION_SIGNING_SALT=change_me
ADMIN_LOGIN=adminka
ADMIN_PASSWORD=password
ADMIN_FULL_NAME=Администратор
